* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.header {
  background-color: #030333;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.header__subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 3.5em 0 0 0;
}
.header__cite {
  padding: 0.2em 0 1em 0;
}
.header__line {
  width: 200px;
  color: #fff;
}
.header__title {
  padding: 0.5em 0 1em 0;
}
.header__list {
  list-style-type: none;
  display: flex;
}
.header__element {
  padding: 1em;
  text-align: center;
}
.header__link {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}
.header__link:hover {
  color: #aaa;
  transition: 0.5s ease;
}

main {
  background-color: #cbcaca;
  display: flex;
  justify-content: center;
  gap: 2.5em;
  padding: 4em;
}

.article {
  width: 300px;
  border: 1px solid transparent;
  transition: 1s ease;
  text-align: center;
  background-color: #fff;
  color: #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 0 0 1em 0;
  box-shadow: 15px 20px 20px -20px rgb(66, 68, 90);
}
.article:hover {
  border: 1px solid #000;
  transition: 1s ease;
}
.article__link {
  text-decoration: none;
  color: #aaa;
}
.article__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 0 0 2em 0;
}
.article__subtitle {
  padding: 2em 0 1em 0;
}
.article__line {
  width: 120px;
  color: #aaa;
}
.article__title {
  color: #444;
  padding: 1em;
}
.article__content {
  font-size: 12px;
  padding: 2em;
}
.article__button {
  padding: 0.5em;
  background-color: transparent;
  border-radius: 10px;
  color: #aaa;
  border: 1px solid #aaa;
  cursor: pointer;
  transition: 0.5s ease;
}
.article__button:hover {
  border: 1px solid #444;
  color: #444;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2em 0;
}
.section__title {
  padding: 2em 0 1em 0;
}
.section__subtitle {
  padding: 3em 0 2em 0;
}
.section__img {
  padding: 1.5em 0 2em 0;
}
.section__paragraph {
  padding: 1em 0 1em 0;
}
.section__list {
  width: 70%;
  padding: 0 0 3em 0;
  list-style-type: disc;
}
.section__line {
  width: 80%;
}
.section__prostokatny {
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.section__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
  background-color: #cbcaca;
  padding: 1em 2em 1em 2em;
  border-radius: 10px;
  box-shadow: 15px 20px 20px -20px rgb(66, 68, 90);
  margin: 1em 0 1em 0;
}
.section .spaceBetween {
  justify-content: space-between;
}
.section__box {
  padding: 0 0 3em 0;
}
.section__flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;
}
.section__content {
  padding: 1em 0 1em 0;
}
.section__button {
  padding: 0.5em;
  background-color: #cbcaca;
  border-radius: 10px;
  color: #000;
  border: 1px solid #aaa;
  cursor: pointer;
  transition: 0.5s ease;
}
.section__button:hover {
  border: 1px solid #444;
  color: #444;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #030333;
  background-position-y: 200px;
  color: #fff;
}
.footer__content {
  padding: 3em 0 2em 0;
  font-size: 12px;
  letter-spacing: 2px;
}
.footer__line {
  width: 200px;
  color: #fff;
}
.footer__autor {
  padding: 1.5em 0 2em 0;
}
.footer__link {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}
.footer__link:hover {
  color: #aaa;
  transition: 0.5s ease;
}/*# sourceMappingURL=style.css.map */